todo-app/todo-backend/mongo_data/
todo-app/todo-backend/redis_data/
patientor-app/patientor-backend/node_modules/
patientor-app/patientor-frontend/node_modules/
patientor-app/patientor-frontend/public/
